$font-stack-montserrat: 'Montserrat', sans-serif;
$font-stack-lato: 'Lato', sans-serif;

@media only screen and (min-width: 481px) and (max-width: 992px) {

  .carousel {
    background-color: #fff;
    font-family: $font-stack-montserrat;
    //
    width: 768px;
    min-height: 645px;
    margin: 0 auto;
  }

  .carousel__content-container {
    margin: 0 auto;
    //
    padding: 40px 10px 6px 10px;
    width:  748px;

    height: 100%;
  }

  .carousel__container {
    margin: 0 auto;
    width: 100%;
    min-height: 285px;
  }

  .carousel__avatar {
    //height: 85px;
    //
    width: 460px;
    padding-top: 8px;
    margin: 0 auto 39px auto;

    .carousel__avatar_content {
      display: flex;
      align-items: center;
      justify-content: center;
      //
      flex-direction: row;
      margin: 0 auto;

      img {
        //
        margin-left: 44px;
        margin-top: 2px;

        display: block;
      }

      .carousel__avatar_text_container {
        //
        margin-left: 23px;
        align-items: flex-start;

        display: flex;
        align-content: center;
        justify-content: space-between;
        flex-direction: column;

        .carousel__name {
          margin: 2px 0 0 0;
          font-size: 24px;
          font-weight: 700;
          line-height: 29px;
          color: #635c73;
        }

        .carousel__twitter_name {
          margin: 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 25px;
          color: #8d81ac;
        }
      }
    }
  }

  .carousel__slider {
    margin: 0 auto;
    //
    width: 568px;

    .carousel__slider_content {
      //
      width: 568px;

      text-align: center;
      font-family: $font-stack-lato;
      font-weight: 400;
      //
      font-size: 20px;
      line-height: 33px;

      p{
        margin: 0;
        display: inline;
      }
    }
  }

  .slick-prev:before {
    color: #a4a4a4;
  }
  .slick-next:before {
    color: #a4a4a4;
  }

  .purple {
    color: #8d81ac;
  }

  .post-time {
    display: block;
    margin-top: 10px;

    p {
      height: 16px;
      color: #848e97;
      font-family: $font-stack-montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
    }
  }

  .slick-prev {
    left: -71px;
    top: 15%;
  }

  .slick-next {
    right: -71px;
    top: 15%;
  }

  .slick-prev:before {
    content: url("../img/Arrow_L.png");
  }

  .slick-next:before {
    content: url("../img/Arrow_R.png");
  }

  .carousel__social-media {
    position: relative;
    width: 100%;
    display: flex;

    //
    margin: 68px auto 0 auto;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    flex-direction: row;

  }

  .social-media__container {
    //
    margin-bottom: 31px;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 83px;

    div {
      position: relative;
      border-radius: 4px;
      height: 50px;
      //
      width: 240px;

      .social-media__img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto 0 auto 24px;
      }

      p {
        margin: 0 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline;
        font-family: $font-stack-montserrat;
        font-size: 21px;
        font-weight: 400;
      }
    }

    .social-media__followers {
      text-align: center;
      font-size: 14px;
      color: #848e97;
      margin: 0 0;
    }
  }

  .slick-track{
    width: 100%;
  }

  .github_btn {
    background-color: #f3f3f3;
    color: #000;
  }

  .facebook_btn, .twitter_btn {
    color: #ffffff;
  }

  .twitter_btn {
    background-color: #26a6d1;
  }

  .facebook_btn {
    background-color: #3b5998;
  }
}