@import "my-variables";

@include tablet{

  .carousel__content-container {
    padding: 63px 10px 6px 10px;
    width:  $tablet-width;
  }

  .carousel__avatar{
    .carousel__avatar_content {
      display: flex;
      flex-direction: row;
      justify-content: center;

      img{
        margin-right: 23px;
      }
    }
  }

  .carousel__social-media {
    box-sizing: border-box;
    padding: 0 88px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .social-media__container {
    width: 240px;

    div{
      width: 240px;
    }
  }


}