$font-stack-montserrat: 'Montserrat', sans-serif;
$font-stack-lato: 'Lato', sans-serif;

.carousel{
  background-color: #fff;
  font-family: $font-stack-montserrat;
  width: 1380px;
  min-height: 589px;
  margin: 0 auto;
  border-bottom: 1px black solid;
}

.carousel__content-container{
  margin: 0 auto;
  padding: 87px 10px 80px 10px;
  width: 1200px;
  height: 100%;
}

.carousel__container{
  margin:0 auto;
  width: 945px;
  min-height: 422px;
  background-color: #a9e7ff;
}


.carousel__avatar{
  height: 85px;
  width: 734px;
  margin: 0 auto 48px auto;

  .carousel__avatar_content{
    padding-left: 47px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;

    img{
      margin-right: 23px;
      display: inline;

    }

    .carousel__avatar_text_container{
      display: flex;
      align-content: center;
      justify-content: space-between;
      flex-direction: column;
      height: 44px;

      .carousel__name{
        margin: 16px 0 0 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        color: #635c73;
      }

      .carousel__twitter_name{
        margin: 0 0 19px 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #8d81ac;
      }
    }
  }
}

.carousel__slider{
  margin: 25px auto;
  width:734px;

  div{
    text-align: center;
    font-family: $font-stack-lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    p{
      display: inline;
    }
  }
}

.slick-prev:before {
  color: #a4a4a4;
}
.slick-next:before {
  color: #a4a4a4;
}

.purple{
  color: #8d81ac;
}

