@import "my-variables";

@include large-phone{

  .what-you-get__container {
    grid-template-rows: 95px auto 519px;
  }

  .what-you-get__container{
    width: $large-phone-width;
  }

  .feature-list__item{
    flex-direction: row;
    align-items: center;
  }

  .editor-image{
    background-image: url(../img/editor-480px.png);
    height: 519px;
  }

}










