$font-stack: 'Montserrat', sans-serif;

@media only screen and (min-width: 401px) and (max-width: 480px) {

  .feature-list__title-mobile {
    width: 100%;
  }

  .what-you-get{
    background-color: #f4f4f4;
    font-family: $font-stack;
    //
    width: 480px;
    min-height: 1362px;
    margin: 0 auto;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    //
    padding: 38px 10px 6px 10px;
    //
    width:  460px;
    height: 100%;
  }

  .feature-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .feature-list__item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 110px;
    //
    margin-top: 38px;
  }

  //
  .better-web-img-cont {
    margin-left: 14px;
  }
  //
  .power-tool-img-cont{
    margin-left: 4px;
  }
  //
  .exp-stuff-img-cont{
    margin-left: 4px;
  }
  //
  .better-web2-img-cont{
    margin-left: 5px;
    padding-top: 6px;
  }

  //
  .feature-list__img-container{
    position: relative;
    //
    width: 25%;
    height: 84px;
    img {
      display: block;
      margin-right: auto;
      margin-left: auto;

    }
  }

  .feature-text-container{
    display: flex;
    flex-direction: column;
    //
    width: 67%;
    .feature-text-container__header{
      color: #323232;
      font-weight: 400;
      font-size: 16px;
      margin: 0 0;
      line-height: 16px;
    }

    .feature-text-container__text{
      width: 97%;
      margin: 12px 0 0 0;
      color: #848e97;
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
    }
  }

  .editor-display{
    display: none;
  }

  .title{
    //
    width: 75%;
    margin: 0 12% 28px 12%;
    line-height: 53px;

    color: #8d81ac;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
  }

  //
  .editor-mobile{
    align-self: flex-end;
    margin-right: -10px;
    margin-top: 32px;
    width: 468px;
    height: 518px;
    background-image: url("../img/editor-480px.png");
  }












}