$font-stack: 'Montserrat', sans-serif;

@media only screen and (max-width: 400px) {

  .feature-list__title-mobile {
    width: 100%;
  }

  .what-you-get{
    background-color: #f4f4f4;
    font-family: $font-stack;
    width: 320px;
    min-height: 711px;
    margin: 0 auto;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 11px 10px 6px 10px;
    width:  300px;
    height: 100%;
  }

  .feature-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //height: 542px;
  }

  .feature-list__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 215px;
    margin-top: 27px;
  }

  .feature-list__img-container{
    position:relative;
    width: 100%;
    min-height: 84px;
    img{
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .feature-text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    .feature-text-container__header{
      color: #323232;
      font-weight: 400;
      font-size: 16px;
      margin: 0 0;
      line-height: 32px;
    }

    .feature-text-container__text{
      margin: 9px 0 0 0;
      color: #848e97;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .editor-display{
    display: none;
  }

  .title{
    text-align: center;
    margin: 0 auto;
    color: #8d81ac;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .editor-mobile{
    margin-left: -7px;
    margin-top: 20px;
    width: 317px;
    height: 381px;
    background-image: url("../img/editor-test.png");
  }


}