@import "my-variables";

.what-you-get{
  width: 100%;
  background-color: #f4f4f4;
}

.what-you-get__container{
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 5% 70% 25%;
  grid-template-areas:
    "header"
    "featureList"
    "editor";
  box-sizing: border-box;
  padding: 34px 10px 6px 10px;
  margin: 0 auto;
  width: $mobile-width;
  background-color: #f4f4f4;
}

.editor-title{
  grid-area: header;
  align-self: center;
  justify-self: center;
  text-align: center;
  p{
    display: block;
    font-family: $font-stack-mont;
    margin: 16px auto 0 auto;
    color: #8d81ac;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }
}

.feature-list{
  font-family: $font-stack-mont;
  grid-area: featureList;
}

.editor-image{
  display: block;
  grid-area: editor;
  margin-right: -10px;
  background-image: url(../img/editor-mobile.png);
  height: 381px;
}

.feature-list__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 215px;
  margin-top: 27px;
}

.feature-list__img-container{
  position: relative;
  width: 100%;
  min-height: 84px;
  img{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.feature-text-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  .feature-text-container__header{
    color: #323232;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0;
    line-height: 16px;
  }

  .feature-text-container__text{
    margin: 10px 0 0 0;
    color: #848e97;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}










